.quiz-answer{
    width: 55%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 190px 25px;
    margin: 0px  0px 0px 365px;
    position: fixed;
}

/* ////////// 〇・✕　演出 ///////// */
.quiz-answer {
    position: relative;
  }
  .quiz-answer::before {
    position: absolute;
    width: 200px;
    height: 200px;
    font-size: 200px;
    opacity: 0.7;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    z-index: 2;
    pointer-events: none;
  }
  .quiz-answer.is-correct .checked {
    background: #ffb3b3;
  }
  .quiz-answer.is-correct::before {
    content: "〇";
    color: #ffb3b3;
    opacity: 0.5;
  }
  .quiz-answer.is-incorrect .checked {
    background: #b3c7ff;
  }
  .quiz-answer.is-incorrect::before {
    content: "×";
    color: #b3c7ff;
  }
  .quiz-answer li label.is-checked {
    pointer-events: none;
  }
    
  /* ////////////////////////////////// */
  
.quiz-question{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /*問題文の配置固定*/
    position: fixed;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #5e5427;
    
}
.quiz-question-number{
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    position: fixed;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #5e5427;
}
body.title {
    background-image: url(../img/title.png);
    background-color:  #b1921b;
    background-repeat:  no-repeat;
    background-position: center;  
    object-fit: cover;
    /*これで縦スクロールしなくなる*/
    background-attachment: fixed;
    width: 100%;
    height: 80%;
    
}
/*howtoplayわかりませんでした。サイズずれます*/
body.howtoplay {
    background-image: url(../img/black.png);
    background-color:  #b1921b;
    background-repeat:  no-repeat;
    background-position:center center;  
    object-fit: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
}
/*storyわかりませんでした。サイズずれます*/
/*body.story {
    background-image: url(../img/story.png);
    background-color:  #b1921b;
    background-repeat:  no-repeat;
    background-position:center center;  
    object-fit: cover;
    background-attachment: fixed;
    width: 80%;
    height: 60%;
}*/
body.story {
	background-image: url(../img/story3.png);
  background-color:  #b1921b;
	font-family: 'Kosugi Maru', sans-serif;
  background-repeat:  no-repeat;
  background-position: center;  
  object-fit: cover;
  /*これで縦スクロールしなくなる*/
  background-attachment: fixed;
  width: 100%;
  height: 80%;
}
.story_submit input[type="submit"]{
  width: 300px;
  height: 80px;
  color: #b1921b;
  border-right: 4px solid #cea82c;
  border-bottom: 10px solid #987c1e;
  border-left: 4px solid #ffed8b;
  border-radius: 0;
  border-top: 4px solid #e9d38b;
  font-size: 200%;
  font-weight: bold;
  background: -webkit-gradient(linear, right top, left top, from(#ffd75b), color-stop(30%, #fff5a0), color-stop(40%, #fffabe), color-stop(50%, #ffffdb), color-stop(70%, #fff5a0), to(#fdd456));
  background: -webkit-linear-gradient(right, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
  background: linear-gradient(-90deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
  text-shadow: -1px -1px 1px #ffffd9;
  font-family: 'DotGothic16', sans-serif;
  letter-spacing : 10px;
}

.story_submit input[type="submit"]:hover {
  box-shadow: none;
  transform: translateY(5px);
  cursor: pointer;
  text-shadow: 0 0 15px  #fff389,0 0 10px #fff389,0 2px 1px rgb(92, 109, 125);
  box-shadow: 0 0 15px  #ffea2d inset, 0 0 15px #fff389,0 1px 
  }
  
.story_submit {
  position:fixed;
  bottom:20px;
  left: 40%;
}

#movie{
	width : 100%;
	height : 600px;
	overflow:hidden;
	position: fixed;
  }

.roll-text{
	width: 95%;
	text-align: center;
	white-space : pre;
	color:white;
	position:absolute;
	animation: anim-scroll-up 50s linear forwards;
    font-family: 'DotGothic16', sans-serif;
    font-size: 3rem;
  }
  @keyframes anim-scroll-up{
	from{
	  top:auto;
	}
	to{
	  bottom:100%;
	}
  }


body.perfect {
    background-image: url(../img/perfect1.png);
    background-color:  #b1921b;
    background-repeat:  no-repeat;
    background-position:center center;  
    object-fit: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
}

body.nice {
    background-image: url(../img/nice.png);
    background-color:  #b1921b;
    background-repeat:  no-repeat;
    background-position:center center;  
    object-fit: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
}

body.bad {
    background-image: url(../img/bad.png);
    background-color:  #b1921b;
    background-repeat:  no-repeat;
    background-position:center center;  
    object-fit: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
}

body.quizimg {
    background-image: url(../img/quiz-map.png);
    background-color:  #b1921b;
    background-repeat:  no-repeat;
    background-position:center center;  
    object-fit: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
}
.title input[type="submit"]{
    width: 300px;
    height: 80px;
    color: #b1921b;
    border-right: 4px solid #cea82c;
    border-bottom: 10px solid #987c1e;
    border-left: 4px solid #ffed8b;
    border-radius: 0;
    border-top: 4px solid #e9d38b;
    font-size: 200%;
    font-weight: bold;
    background: -webkit-gradient(linear, right top, left top, from(#ffd75b), color-stop(30%, #fff5a0), color-stop(40%, #fffabe), color-stop(50%, #ffffdb), color-stop(70%, #fff5a0), to(#fdd456));
    background: -webkit-linear-gradient(right, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
    background: linear-gradient(-90deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
    text-shadow: -1px -1px 1px #ffffd9;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing : 10px;
}

.title input[type="submit"]{
    width: 300px;
    height: 80px;
    color: #b1921b;
    border-right: 4px solid #cea82c;
    border-bottom: 10px solid #987c1e;
    border-left: 4px solid #ffed8b;
    border-radius: 0;
    border-top: 4px solid #e9d38b;
    font-size: 200%;
    font-weight: bold;
    background: -webkit-gradient(linear, right top, left top, from(#ffd75b), color-stop(30%, #fff5a0), color-stop(40%, #fffabe), color-stop(50%, #ffffdb), color-stop(70%, #fff5a0), to(#fdd456));
    background: -webkit-linear-gradient(right, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
    background: linear-gradient(-90deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
    text-shadow: -1px -1px 1px #ffffd9;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing : 10px;
}
/*.submit9:hover {
    margin-top: 3px;
    color: #b1921b;
    border-right: 4px solid #cea82c;
    border-bottom: 7px solid #987c1e;
    border-left: 4px solid #ffed8b;
}
*/
.title input[type="submit"]:hover {
box-shadow: none;
transform: translateY(5px);
cursor: pointer;
text-shadow: 0 0 15px  #fff389,0 0 10px #fff389,0 2px 1px rgb(92, 109, 125);
box-shadow: 0 0 15px  #ffea2d inset, 0 0 15px #fff389,0 1px 
}

.title {
    text-align: center;
   margin-top: 450px;
}

/* quiz.html内のcss*/
input[type=radio]{
    display: none;
    }

/*答えの文字*/
ul {
    list-style: none;
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
    width: 300px;
    color: #695b21;
}

/*文字の背景*/
label.quiz-button{
    background: radial-gradient(rgb(239, 220, 160),rgb(173, 159, 85), rgb(164, 145, 52));
    text-align: center;
    padding: 55px;
    border-radius: 100% 80px / 80px 100%;
    font-family: 'DotGothic16', sans-serif;
    position: fixed;
}


/*背景ホバー*/
.quiz-button:hover{
    background: radial-gradient(rgb(75, 74, 72),rgb(117, 42, 42), rgb(85, 8, 8));
}

/*文字ホバー*/
.name1:hover {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
    
}

.name2:hover{
    color: rgb(255, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

.name3:hover{
    color: rgb(255, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

.name4:hover{
    color: rgb(255, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}


div.quizresult {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.result input[type="submit"]{
    width: 300px;
    height: 80px;
    color: #000;
    border-top: 4px solid #d8dcdc;
    border-right: 4px solid #666;
    border-bottom: 4px solid #333;
    border-left: 4px solid #868888;
    border-radius: 0;
    background-image: -webkit-linear-gradient(135deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
    background-image: linear-gradient(-45deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
    font-family: 'DotGothic16', sans-serif;
    font-size: 220%;
    letter-spacing : 7px;
    }
    
.result input[type="submit"]:hover {
box-shadow: none;
transform: translateY(5px);
cursor: pointer;
text-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
box-shadow: 0 0 15px  #d8dcdc inset, 0 0 15px white,0 1px 

}

.result {
    text-align: center;
    margin-top: 500px;
}

/* ///最終問題の背景/// */
.finish {
    display: none;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
  }
  .finish.is-show {
    display: flex;
  }
  .finish .score-wrap {
    text-align: center;
    color: #fff;
  }
  .finish .score-wrap .score {
    font-size: 80px;
    font-weight: bold;
  }
  .finish .score-wrap .ja {
    font-size: 34px;
  }
  .finish .score-wrap .full {
    font-size: 24px;
  }
  .finish .goback-button {
    font-size: 14px;
    color: #fff;
    margin-top: 30px;
    display: inline-block;
  }
/* //////////////////////// */

/*bgmのボタンの配置*/
#bgm {
    position:fixed;
    right: 95px;
    bottom:20px;

}
#yes{
  width: 73px;
  height: 70px;
  color: rgb(113, 113, 113);
  background-color: #b8b8b8;
  border: none;
  border-radius: 300px;
  font-family: 'DotGothic16', sans-serif;
  font-size: 130%;
}

#yes:hover{
  color: rgb(0, 0, 0);
  background-color: #3e3e3e;
}

/*戻るボタン*/
.howto_button{
  position: fixed;
  left: 95px;
  top: 20px;
}

.reverse{
  width: 73px;
  height: 70px;
  border-radius: 300px;
  font-family: 'DotGothic16', sans-serif;
  font-size: 130%;
}

.reverse::before { /* くの字の表示設定 */
left: 4px;
box-sizing: border-box;
width: 4px;
height: 4px;
border: 4px solid transparent;
border-left: 4px solid #fff;
}
 
.reverse::after { /* 棒の表示設定 */
  left: 0;
  width: 6px;
  height: 4px;
  border-left: 4px solid #fff;
}

h1{
  display: flex;
  text-align: center;
  color: #fff;
  justify-content: center;
  font-family: 'DotGothic16', sans-serif;
  font-size: 4.5em;
}
.howto-text{
  display: flex;
  text-align: center;
  color: #fff;
  justify-content: center;
  font-family: 'DotGothic16', sans-serif;
    font-size: 2.5rem;
}